.TimezonesContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.timezoneBoxesContainer {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

@media only screen and (max-width: 767px) {
  .Icon {
    width: 30px;
    }
}