.suggestionContainer {
  height: 45px;
  padding: 5px 10px;
  cursor: pointer;
  display: flex;
  flex: 1;
  align-items: center;
}

.suggestionContainer:hover {
  background: #E8E8E8;
}

@media only screen and (max-width: 767px) {
  .Icon {
    width: 30px;
    }
}